/backend/vote-server/*
!/backend/vote-server/VoteServer/
!/backend/vote-server/BlockChain/
!/backend/vote-server/databases/
/backend/vote-server/VoteServer/*
!/backend/vote-server/VoteServer/*.py
!/backend/

__pycache__